<h2> Welcome to Rent Trader</h2>
<hr>
  <% @listings.each do |l| %>

  <a href="<%= listing_path(l) %>" class="column"><img src="<%= l.picture_url%>" style="max-width:200px;max-height:300px;"> </a>
  <p class="column"><%= link_to l.title, listing_path(l) %></p>
  <p class="column"><%= l.description %></p>

  <% end %>

<!--
<br><br><br>
<% @listings.each do |l| %>
<a href="<%= listing_path(l) %>"><img src="<%= l.picture_url%>" style="width:200px;height:100px;"> </a><br>
<h5><%= link_to l.title, l%><br></h5>
<%= l.description %><br><hr>
<% end %> -->
