

<h2><%= @listing.title %></h2><hr><br>
<% if current_user==@listing.user %>
  <h4><%= link_to "Delete listing", listing_path(@listing), method: :delete %></h4>
<% else %>
  <h4><%= link_to 'Add to favourites', favourites_path(id: @listing.id), method: :post %></h4>
<% end %>
  <br>

<img src="<%= @listing.picture_url%>" style="max-width:400px;max-height:400px;"><br>
<% @pictures.each do |picture| %>
<img src="<%= picture.picture_url%>" style="max-width:400px;max-height:400px;">
<% end %>

<br><br>
<p>  <%= @listing.description %> </p><br>
<p> Postcode: <%= @listing.postcode %> </p><br>
<hr>

<% if @listing.user %>
<div class="column2" align='center'>
<h4>About the tenant:</h4>
<% if @listing.user %>
<%= @listing.user.first_name + ' ' + @listing.user.last_name%><br>
<% if @listing.user.bio %><br><br>
Bio: <%=@listing.user.bio%><br>
<% end %>
<%= @listing.user.phone %><br>
<%= @listing.user.email %><br>

<% end %>
<%  else %>
<p> No information about the current tenant provided. <p>
<% end %>
</div>

<div class="column2" align='center'>
<h4>About the Landlord:</h4>

Landlord: <%= @listing.landlord_name %><br>
About him/her: <%= @listing.landlord_info %><br>
Phone: <%= @listing.landlord_phone %><br>
Email: <%= @listing.landlord_email %><br>
<%=  %><br>
<%=  %><br>
</div>
