<% require_relative "../../../config/api_key.rb"
%>

<style>
.description {
  text-align: center;
  width: 100%;
}
.map{
  margin-right: 2.5%;
}


</style>

<h2><%= @listing.title %></h2><hr><br>

<div>
<% @pictures.each do |pic| %>
  <a href="<%=picture_path(pic)%> "> <img src=" <%= pic.picture_url %> " style="max-width:40%;height:150px;"></a>
<% end %><br>
</div>

<div class="description">

<br><br>
<p>  <%= @listing.description %> </p><br>
<p> Postcode: <%= @listing.postcode %> </p><br>
<% if current_user==@listing.user %>
  <p><%= link_to "Add photo", "/new_picture/#{@listing.id}" %></p>
    <p><%= link_to "Edit listing", edit_listing_path(@listing) %></p>
  <p><%= link_to "Remove listing", listing_path(@listing), method: :delete %></p>
<% else %>
  <p><%= link_to 'Add to favourites', favourites_path(id: @listing.id), method: :post %></p>
<% end %>

</div>


<hr>
<div class="people_info">
<% if @listing.user %>
<h4>About the Tenant:<br></h4>
<% if @listing.user %>
<%= @listing.user.first_name + ' ' + @listing.user.last_name%><br>
<% if @listing.user.bio %><br><br>
Bio: <%=@listing.user.bio%><br>
<% end %>
<%= @listing.user.phone %><br>
<%= @listing.user.email %><br>

<% end %>
<%  else %>
<p> No information about the current tenant provided. <p>
<% end %>

<h4>About the Landlord:<br></h4>
Landlord: <%= @listing.landlord_name %><br>
About him/her: <%= @listing.landlord_info %><br>
Phone: <%= @listing.landlord_phone %><br>
Email: <%= @listing.landlord_email %>
<br><br>
</div>
<div class="map">

    <iframe width="100%" height="300" frameborder="0" style="border:0"  src="https://www.google.com/maps/embed/v1/place?q=<%= @listing.postcode %>&zoom=13&key=<%=KEY[:key]%>" allowfullscreen></iframe>


</div>
