

<h2><%= @listing.title %></h2><hr><br> 


<% @pictures.each do |pic| %>
  <a href="<%=picture_path(pic)%> "> <img src=" <%= pic.picture_url %> " style="max-width:30%;max-height:30%;"></a>
<% end %><br>


<br><br>
<p>  <%= @listing.description %> </p><br>
<p> Postcode: <%= @listing.postcode %> </p><br>
<% if current_user==@listing.user %>
  <p><%= link_to "Add photo", "/new_picture/#{@listing.id}" %></p>
  <p><%= link_to "Remove listing", listing_path(@listing), method: :delete %></p>
<% else %>
  <p><%= link_to 'Add to favourites', favourites_path(id: @listing.id), method: :post %></p>
<% end %>


<hr>

<% if @listing.user %>
<div class="column1 left_h4">
<h4>About the tenant:</h4>
<% if @listing.user %>
<%= @listing.user.first_name + ' ' + @listing.user.last_name%><br>
<% if @listing.user.bio %><br><br>
Bio: <%=@listing.user.bio%><br>
<% end %>
<%= @listing.user.phone %><br>
<%= @listing.user.email %><br>

<% end %>
<%  else %>
<p> No information about the current tenant provided. <p>
<% end %>

<h4 class="left_h4">About the Landlord:</h4>

Landlord: <%= @listing.landlord_name %><br>
About him/her: <%= @listing.landlord_info %><br>
Phone: <%= @listing.landlord_phone %><br>
Email: <%= @listing.landlord_email %><br>
<%=  %><br>
<%=  %><br>
</div>
