<!DOCTYPE html>
<html>
  <head>
    <title>RentTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

<a href="<%= listings_path %>"><img src="https://thumbs.gfycat.com/PerfectVelvetyJavalina-size_restricted.gif" border="5" style="width:100px;height:50px;border-color:blue;" alt="Home">      </a>
<br>

<% if !user_signed_in? %>
<%= link_to "Sign Up", new_user_registration_path %>&nbsp &nbsp
<%= link_to "Log In", new_user_session_path %>&nbsp &nbsp
<% end %>

<% if user_signed_in? %>
<%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>&nbsp &nbsp
<%= link_to "Add a listing", new_listing_path %>&nbsp &nbsp
<%= link_to "Favourites", favourites_path %>&nbsp &nbsp
<%= link_to "Relevant", relevant_path %>&nbsp &nbsp
<%= link_to "Account Settings", edit_user_registration_path %>
<%end%>


<p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
