<!DOCTYPE html>
<html>
  <head>
    <title>RentTrader</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    
    <style>
     {
        box-sizing: border-box;
    }
    h4, h3, h2 {
      text-align: center;
    }
    hr {
      width: 95%
    }
    input, select, textarea {
      width: 100%; /* Full width */
      padding: 12px; /* Some padding */
      border: 1px solid #ccc; /* Gray border */
      border-radius: 4px; /* Rounded borders */
      box-sizing: border-box; /* Make sure that padding and width stays in place */
      margin-top: 6px; /* Add a top margin */
      margin-bottom: 16px; /* Bottom margin */
      resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
    }



    body {
      background-color: #ddd;
        margin: 0;
        font-family: Arial, Helvetica, sans-serif;
    }





    .field {
      margin-right: 20px;
    }
    /* Style the side navigation */
    .sidenav {
        height: 100%;
        width: 200px;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #383838;
        overflow-x: hidden;
    }
    img {
      background: #eee;
      border: 1px solid transparent;
      border-radius: 3px;
    }

    }
    img:hover {
        background: #e1e1e1;
        border: 1px solid black;
    }

    .search-bar {
      align-items: center;
      margin-right: 18px;
    }
    .search-button {
      hidden;
    }




    .column {
        float: left;
        width: 18%;
        margin-left: 2%;
        padding: 10px;
        height: 150px;
    }
    .column2 {
        text-align: center;
        float: left;
        width: 20%;
        padding: 10px;
        height: 150px;
    }
    .column3 {
        text-align: justify;
        float: left;
        width: 57.5%;
        padding: 10px;
        height: 150px;
    }





    /* Side navigation links */
    .sidenav a {
        color: white;
        padding: 16px;

        display: block;
    }

    /* Change color on hover */
    .sidenav a:hover {
        background-color: #ddd;
        color: black;
    }

    /* Style the content */
    .content {
        margin-left: 200px;
        padding-left: 20px;
    }


    </style>
  </head>
  <body>



<div class="sidenav">

<% if !user_signed_in? %>
<a href="<%= listings_path %>"><img src="<%=image_url('4.jpeg')%>" border="5" style="width:160px;height:100px;" margin-right=0 alt="Home">      </a>
<br>
<%= link_to "Sign Up", new_user_registration_path %>&nbsp &nbsp
<%= link_to "Log In", new_user_session_path %>&nbsp &nbsp
<%= link_to "About us", about_path %>&nbsp &nbsp
<% end %>

<% if user_signed_in? %>
<a href="<%= listings_path %>"><img  src="<%=image_url('4.jpeg')%>" style="width:160px;height:100px;" margin-right=0 alt="Home">      </a>
<br>
<%= link_to "Favourites", favourites_path %>&nbsp &nbsp
<%= link_to "Recommended", relevant_path %>&nbsp &nbsp
<%= link_to "Add a listing", new_listing_path %>&nbsp &nbsp
<%= link_to "Account Settings", edit_user_registration_path %>&nbsp &nbsp
<%= link_to "My Postcodes of Interest", postcodes_path %>&nbsp &nbsp
<%= link_to "My listings", my_listings_path %>&nbsp &nbsp
<%= link_to "About us", about_path %>&nbsp &nbsp
<%= link_to "Sign Out", destroy_user_session_path, method: "delete" %>&nbsp &nbsp
<%end%>
</div>
<div class="content">


<p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>
     <div class="search-bar">

     <p><%= form_tag(listings_path, :method => "get", id: "search-form") do %></p>
         <%= text_field_tag :search, params[:search], placeholder: "Search" %>
         <p hidden ><%= submit_tag "Search", :name => nil %></p>
     <% end %>
 </div>
    <%= yield %>
     </div>
  </body>
</html>
